@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #161418;
  background-image: url('assets/image-1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:#9FF0E4;
}
h1{
  font-size: 2em;
}
#header-full{
  display: flex;
  background-color: #1814187e;
}
.linkClass{
  color: #809693;
  transition: color 0.3s ease;
}
.linkClass:hover{
  color: #acd4db;
}
#myName{
  color: #EEF4F5;
}
.burger{
  cursor: pointer;
}
@keyframes neonGlow {
  0% {
    filter: drop-shadow(0 0 4px #00ffff) ;
  }
  50% {
    filter: drop-shadow(0 0 9px #00ffff);
  }
  100% {
    filter: drop-shadow(0 0 5px #00ffff);
  }
}

@keyframes neonGlowMeat {
  0% {
    filter: drop-shadow(0 0 4px #ff5cf7);
    stroke: #ba41d3; 
  }
  20% {
    filter: drop-shadow(0 0 0px #283632); /* Glow off */
    stroke: #423f42; 
  }
  25% {
    filter: drop-shadow(0 0 5px #ff5cf7); /* Sli/ght glow */
    stroke: #ba41d3; 
  }
  30% {
    filter: drop-shadow(0 0 0px #283632); /* Glow off */
    stroke: #343235;
  }
  35% {
    filter: drop-shadow(0 0 12px #ff5cf7); /* Stronger glow */
    stroke: #ba41d3;
  }
  45% {
    filter: drop-shadow(0 0 0px #283632); /* Glow off */
    stroke: #343235; /* Stroke color change */
  }
  50% {
    filter: drop-shadow(0 0 9px #ff5cf7); /* Moderate glow */
    stroke: #ba41d3;
  }
  100% {
    filter: drop-shadow(0 0 0px #283632); 
    stroke: #343235; /* Stroke color change */
  }
}
.burger .cheese {
  stroke: rgb(0, 255, 204); /* Blush neon turquoise */
  animation: neonGlow 1.5s ease-in-out infinite;
  transition: filter 0.3s ease-in-out, stroke 0.3s ease-in-out;

}
.burger .meat {
  stroke: #ba41d3; /* Blush neon cyan */
  animation: neonGlowMeat 1.5s ease-in-out infinite;
  transition: filter 0.3s ease-in-out;
}
.burger .bun {
  stroke: rgb(130, 255, 255); /* Blush neon turquoise lavender */
  animation: neonGlow 1.5s ease-in-out infinite;
  transition: filter 0.3s ease-in-out;

}

.svg-text{
  stroke: rgb(130, 255, 255); 
  fill: rgb(130, 255, 255); 
}

#frontend-stack{
  height: 50px;
  width: 100px;
  border-top: 1px solid rgb(130, 255, 255);
  border-right: 2px solid rgb(130, 255, 255);
  transform: skew(45deg);
}
#backend-stack{
  width: 150px;
  border-top: 1px solid rgb(130, 255, 255);
  border-right: 2px solid rgb(130, 255, 255);
}

#burgerDiv{
  position: absolute;
  right: 400px;
  top: 400px;
}
#burgerLink{
  width: 50px;
  margin: 20px;
  margin-left: 60px;
}
#leftAlignedText{
  margin-left: -20%;
  margin-top: 150px;
}
.personalVsSchool{
  color: #81a19e;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
}
.personalVsSchool.active{
  color: #9ff0e4;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
}
.personalVsSchool:hover{
  color: #9ff0e4;
}
#school-intro{
  color: #6D7E7C;
  font-size: 25px;
}
.social, .awayButton{
  transition: transform 0.5s ease-in-out;
}
.social:hover, .awayButton:hover{
  transform: scale(1.1);
}
/* 
.icons{
  display: none;
} */
hr{
  border-color: rgb(20 184 166);
}
.eachProject{
  display: flex;
  align-items: center;
  color: rgb(94 234 212);
  justify-content: space-evenly;
  margin-bottom: 5vh;
  border: 2px solid  rgb(20 184 166);
  border-radius: 20px;
  padding: 7vmin;
  background-color: #0a161328;
}
.responsiveDiv{
  background-color: #00000083;
  height: 100vh;
  width: 100%;

}

@media screen and (max-width: 1700px){
  #burgerDiv{
    right: auto;
    top: 580px;
  }
  #sweDevAni{
    top: 0;
    position: absolute;
  }
  #leftAlignedText{
    margin-top: -50px;
  }
  .responsiveDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger{
    transform: scale(0.8);
  }
}
@media screen and (max-width: 700px){
  #burgerDiv{
    right: auto;
    top: 300px;
  }
  #leftAlignedText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    transform: scale(0.8);
    margin-top: -140px;
  }
  .responsiveDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger{
    transform: scale(0.75);
  }
}
@media screen and (max-width: 560px){
  #leftAlignedText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0.7);
    margin-left: 0%;
    margin-top: -140px;
  }
  #burgerDiv{
    right: auto;
    top: 300px;
  }
  #sweDevAni{
    padding-inline: 0;
    display: flex;
    justify-content: center;

  }
  .responsiveDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger{
    transform: scale(0.75);
    width: 100%;
  }
  .icons{
    display: block;
    width: 100%;
  }
  .names{
    display: none;
  }
  #header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}


/* ============= Uni Coursework ============= */ 
#subcategory{
  background-color: rgba(0, 0, 0, 0.63);
}
#projects{
  background-color: rgba(0, 0, 0, 0.63);
  height: 100%;
  width: 100%
}
#classes{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.classProject{
  width: 600px;
  height: 60vh;
  margin: 10px;
}
.courseTitle{
  font-size: 1.7em;
}
.course, .projectLink{
  width: 20%;
  padding: 20px;
  background-color: #2a626673;
  color: #9ff0e4;
  margin: 20px; 
  height: 30vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  transition: all 1s ease;
  min-width: 300px;
  max-width: 350px;
  border: 2px solid rgb(25, 76, 82);
}
.course:hover{
  transform: scale(1.08);
  box-shadow: 0px 10px 0px rgb(30, 202, 214);
  cursor: pointer;
  border: 2px solid rgb(30, 202, 214);
}
.projButton, .backButton{
  border: 2px solid #9ff0e4;
  padding: 8px;
  width: 170px;
  border-radius: 10px;
  color: #9ff0e4;
}
.projButton:hover{
  background-color: #021b2cad;
}

.courseDesc{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
}
.inLine{
  display: flex;
  align-items: flex-end;
}
#leftAlign{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 3vh;
}
.projectLink{
  color: #9ff0e4;
}
.awayButton{
  font-size: 1.5em;
  padding: 8px;
  border: 2px solid #9ff0e4;
  border-radius: 20px;
}
.projectLink{
  align-items: center;
}
.projectLink>h1{
  font-size: 1.5em;
}
.multipleButtons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.buttonAlignment{
  display: flex;
  align-items: center;
}


/* =============== Terminal =============== */

#term{
  width: 80%;
  height: 600px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-color: rgb(32, 3, 37) rgba(137, 41, 150, 0.596);
  scrollbar-width: thin;
  background-color: rgba(128, 0, 128, 0.493);
}

#comments{
  color: #33ff00;
  margin-bottom: 15px;
}

#termInput{
  background-color: transparent;
  /* border-left: 1px solid #9ff0e4; */
  /* animation: cursor 1s step-end infinite; */
}
#termInput:focus{
  outline: none;
}
@keyframes cursor{
  50%{
    border-color: transparent;
  }
}
#termHeader{
  width: 80%;
  background-color: #191a1d;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}

.dangerousHTML{
  color: #eb50ff;
}
.terminalLinks{
  color: #33ff00;
}
.terminalLinks:hover{
  text-decoration: underline;
}