@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  height: 100%;
  width: 100vw;
  background: #283632;
  background: radial-gradient(circle 400px at 80% 60%, 
  #25312e 0%, 
  #25312e 0%,
  rgba(23,36,32,1) 100%);

}
.linkClass{
  color: #6D7E7C;
  transition: color 0.3s ease;
}
#header #firstElem{
  position: relative;
}

.linkClass:hover{
  color: #98C0C7;
}
#myName{
  color: #EEF4F5;
}
.burger{
  cursor: pointer;
}
@keyframes neonGlow {
  0% {
    filter: drop-shadow(0 0 4px #00ffff) ;
  }
  50% {
    filter: drop-shadow(0 0 9px #00ffff);
  }
  100% {
    filter: drop-shadow(0 0 5px #00ffff);
  }
}

@keyframes neonGlowMeat {
  0% {
    filter: drop-shadow(0 0 4px #ff5cf7);
    stroke: #ba41d3; 
  }
  20% {
    filter: drop-shadow(0 0 0px #283632); /* Glow off */
    stroke: #423f42; 
  }
  25% {
    filter: drop-shadow(0 0 5px #ff5cf7); /* Sli/ght glow */
    stroke: #ba41d3; 
  }
  30% {
    filter: drop-shadow(0 0 0px #283632); /* Glow off */
    stroke: #343235;
  }
  35% {
    filter: drop-shadow(0 0 12px #ff5cf7); /* Stronger glow */
    stroke: #ba41d3;
  }
  45% {
    filter: drop-shadow(0 0 0px #283632); /* Glow off */
    stroke: #343235; /* Stroke color change */
  }
  50% {
    filter: drop-shadow(0 0 9px #ff5cf7); /* Moderate glow */
    stroke: #ba41d3;
  }
  100% {
    filter: drop-shadow(0 0 0px #283632); 
    stroke: #343235; /* Stroke color change */
  }
}
.burger .cheese {
  stroke: rgb(0, 255, 204); /* Blush neon turquoise */
  animation: neonGlow 1.5s ease-in-out infinite;
  transition: filter 0.3s ease-in-out, stroke 0.3s ease-in-out;

}
.burger .meat {
  stroke: #ba41d3; /* Blush neon cyan */
  animation: neonGlowMeat 1.5s ease-in-out infinite;
  transition: filter 0.3s ease-in-out;
}
.burger .bun {
  stroke: rgb(130, 255, 255); /* Blush neon turquoise lavender */
  animation: neonGlow 1.5s ease-in-out infinite;
  transition: filter 0.3s ease-in-out;

}

.svg-text{
  stroke: rgb(130, 255, 255); 
  fill: rgb(130, 255, 255); 
}

#frontend-stack{
  height: 50px;
  width: 100px;
  border-top: 1px solid rgb(130, 255, 255);
  border-right: 2px solid rgb(130, 255, 255);
  transform: skew(45deg);
}
#backend-stack{
  width: 150px;
  border-top: 1px solid rgb(130, 255, 255);
  border-right: 2px solid rgb(130, 255, 255);
}

#burgerDiv{
  position: absolute;
  right: 80px;
  top: 200px;
}
@media screen and (max-width: 1500px){
  #burgerDiv{
    right: auto;
    top: 480px;
  }
  .responsiveDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger{
    transform: scale(0.8);
  }
}
@media screen and (max-width: 700px){
  #burgerDiv{
    right: auto;
    top: 480px;
  }
  .responsiveDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger{
    transform: scale(0.75);
  }
}
@media screen and (max-width: 560px){
  #burgerDiv{
    right: auto;
    top: 480px;
  }
  .responsiveDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger{
    transform: scale(0.75);
    width: 100%;
  }
}